body {
  background-image:linear-gradient(#f9d423, red,#e65c00, #f9d423);
}


h1.ui.header, .subheader, h2, .nasa-date, p{
  color: white;
  font-family:'IBM Plex Sans Condensed', sans-serif;
}
.nasa-date{
  font-size: 18px;
  padding-bottom: 20px;
}
p{
  font-size: 20px;
}

h1.ui.header{
  padding-top: 30px;
  font-size: 35px;
}

.nasa-explanation{
  font-size: 19px;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
}
